.restaurant-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
}

.breadcrumb {
    display: flex;
    padding: 20px 0;
}

.breadcrumb span {
    color: gray;
}

.breadcrumb span:hover {
    color: #2d7a61;
    cursor: pointer;
}

.name-and-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .name-and-action h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
} */

.name-and-action .claim-status {
    font-size: 18px;
    color: gray;
    font-weight: normal;
    text-decoration: underline dotted;
    margin-left: 10px;
}

.share-restaurant,
.review-restaurant,
.save-restaurant {
    border: 1px solid black;
    border-radius: 25px;
    margin: 0 10px;
    background: white;
    padding: 10px 20px;
}

.share-icon,
.review-icon,
.heart-icon {
    margin-right: 5px;
}

.share-restaurant i {
    width: 15px;
    height: 15px;
}

.rating {
    margin: 0 auto 20px auto;
}

.restaurant-images img {
    width: 100%;
}