.attraction-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: block;

    .breadcrumb {
        display: flex;
        padding: 20px 0 0;

        span {
            color: gray;

            &:hover {
                color: #2d7a61;
                cursor: pointer;
            }
        }
    }

    .name-and-action {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin: 20px 0 8px 0;
        }
    }

    .share-attraction,
    .review-attraction,
    .save-attraction {
        border: 1px solid black;
        border-radius: 25px;
        margin: 0 10px;
        background: white;
        padding: 10px 20px;

        .share-icon,
        .review-icon,
        .save-attraction-icon {
            margin-right: 5px;
        }

        i {
            width: 15px;
            height: 15px;
        }
    }

    .save-attraction.saved .save-attraction-icon {
        color: red;
    }

    .attraction-rating {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
        margin-bottom: 30px;

        span {
            font-size: 15px;
            display: flex;
            align-items: center;
            vertical-align: middle;
        }

        .rate-star {
            color: #2d7a61;
            font-size: 25px;
            line-height: 1;
        }

        .star-container {
            display: flex;
            align-items: center;

            .star {
                width: 24px;
                height: 24px;
                background-size: cover;
                position: relative;

                &.full {
                    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/49/Star_full.svg");
                }

                &.empty {
                    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/29/Star_empty.svg");
                }

                &.partial {
                    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/49/Star_full.svg");

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: var(--percent);
                        width: calc(100% - var(--percent));
                        height: 100%;
                        background: white;
                    }
                }
            }
        }
    }

    .attraction-images {
        display: flex;
        align-items: center;

        .main-image {
            width: 90%;
            aspect-ratio: 5/3;
            margin: auto;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .attraction-info {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: flex-start;
        gap: 10px;

        .location-info {
            width: 75%;
            text-align: left;

            h2 {
                font-size: 25px;
                font-weight: bold;
                margin: 30px 0 10px 0;
            }

            .brief-describe {
                font-style: italic;
            }
        }
    }

    .reviews {
        width: 90%;
        margin: 70px auto;
        text-align: left;
        display: block;

        .reviews-div {
            display: flex;
            align-items: center;
        }

        .review-summary {
            width: 20%;
            margin: 0 30px;
        }

        .review-detail {
            width: 75%;
            margin: 0 30px;
            display: block;

            .review {
                p {
                    margin: 10px 0;
                }

                .review-content {
                    font-size: 14px;
                }

                button {
                    border: 1px solid #2d7a61;
                    border-radius: 25px;
                    color: #2d7a61;
                    font-weight: bold;
                    background: white;
                    padding: 10px 20px;
                    margin-top: 20px;
                }
            }

            .new-review {
                input {
                    display: block;
                    box-sizing: border-box;
                    border: 1px solid #2d7a61;
                    border-radius: 25px;
                    padding: 10px 20px;
                    width: 100%;
                }
            }

            .submit-review {
                display: flex;
                justify-content: flex-end;

                input {
                    border: none;
                    border-radius: 25px;
                    background: #2d7a61;
                    color: white;
                    padding: 10px 20px;
                }
            }
        }
    }

    .nearby {
        width: 90%;
        margin: auto;
        display: block;
        text-align: left;

        h2 {
            font-size: 25px;
            font-weight: bold;
            margin: 50px 0 10px 0;
        }
    }
}