// Biến màu
$primary-color: rgb(45, 122, 97);
$secondary-color: #1f5b4a;
$border-color: #ccc;
$hover-bg: rgba(0, 0, 0, 0.05);
$badge-bg: black;
$badge-text: white;

.my-trips-container {
    padding: 20px;
    width: 100%;
    margin: auto;

    .my-trips {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;

        h1 {
            text-align: center;
        }
    }

    .trip-actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 20px auto;
        width: 30%;

        .create-trip {
            min-height: 60px;
            flex: 1;
            gap: 10px;
            padding: 15px;
            border: 1.5px solid $border-color;
            border-radius: 10px;
            cursor: pointer;
            font-weight: bold;
            background: transparent;

            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            transition: all 0.3s ease;

            &:hover {
                background-color: $hover-bg;
            }
        }
    }

    .trip-list {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 100px;

        .upcoming-trip {
            width: 50%;

            .upcoming-trip-title {
                font-size: 20px;
                font-weight: bold;
                margin: 20px 0 20px 0;
            }

            .trip-content {
                height: 140px;

                h4 {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }

        .completed-trip {
            width: 35%;

            .completed-trip-title {
                font-size: 20px;
                font-weight: bold;
                margin: 20px 0 20px 0;
            }

            .trip-content {
                height: 100px;

                h4 {
                    font-size: 15px;
                    font-weight: bold;
                }
            }
        }
    }



    .trip-content {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        width: 100%;

        .trip-image {
            height: 100%;
            width: 35%;
            object-fit: cover;
        }

        .trip-details {
            padding: 20px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
        }

        .trip-badge {
            position: absolute;
            bottom: 10px;
            left: 10px;
            background-color: $badge-bg;
            color: $badge-text;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 12px;
        }
    }
}